
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section class="container-prod">
    <div class="grid-container">
      @for (prod of products; track $index) {
        <div class="grid-item">
          <img [src]="prod.image" alt="Product Image" class="image-prod">
          <div class="datos-prod">
            <h4 class="title-prod">{{ prod.title }}</h4>
            <p class="price">$ {{ prod.price }}</p>
            <p>Category: {{ prod.category }}</p>
          </div>
        </div>
      }
    </div>
  </section>

</body>
</html>
    